
<h2>Total racks: <b>{{showTotalRacks}}</b></h2>
<hr />
<br />
<h3>All racks out <span class="label label-danger" >{{showLandedOut}}</span></h3>

<div style="width: 30%">

    <ul class="list-group">
        <li class="list-group-item">
            <span class="label label-danger" >{{showBigRacksOut}}</span>
            &nbsp Big Racks Out
        </li>
        <li class="list-group-item">
            <span class="label label-danger" >{{showMedRacksOut}}</span>
            &nbsp Medium size racks out
        </li>
        <li class="list-group-item">
            <span class="label label-danger" >{{showSmRacksOut}}</span>
            &nbsp Small racks out
        </li>
        <li class="list-group-item">
            <span class="label label-danger" >{{restMixSizesOut}}</span>
            &nbsp Racks out  nr. > 3000
        </li>
    </ul>

</div>
<hr />
<br />
<h3>All racks home <span class="label label-success" >{{showAllHome}}</span></h3>

<div style="width: 30%">

    <ul class="list-group">
        <li class="list-group-item">
            <span class="label label-success" >{{showBigRacksHome}}</span>
            &nbsp Big Racks home
        </li>
        <li class="list-group-item">
            <span class="label label-success" >{{showMedRacksIn}}</span>
            &nbsp Medium size racks home
        </li>
        <li class="list-group-item">
            <span class="label label-success" >{{showSmRacksIn}}</span>
            &nbsp Small racks home
        </li>
        <li class="list-group-item">
            <span class="label label-success" >{{restMixSizesIn}}</span>
            &nbsp Racks home    nr. > 3000
        </li>
    </ul>

</div>

